.--group {
  align-items: center;
  gap: var(--s-sm);
  display: flex;

  &--spread { justify-content: space-between; }
  &--end { justify-content: end; }
  &--top { align-items: start; }
}

.--group-v {
  flex-direction: column;
  gap: var(--s-sm);
  display: flex;
}
