.--inline { display: inline-block ;}
.--pointer { cursor: pointer; }
.--help { cursor: help; }
.--no-focus-visible { outline: none; }
.--rotate-180 { transform: rotate(180deg); }
.--hidden { display: none; }

.--divider {
  border-bottom: solid 1px var(--color-border);
  margin: var(--spacing-sm) 0;
}

.--divider-y {
  border-right: solid 1px var(--color-border);
  margin: 0 var(--spacing-sm);
  height: 100%;
}

.--truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
