.--inline { display: inline-block ;}
.--pointer { cursor: pointer; }
.--help { cursor: help; }
.--no-focus-visible { outline: none; }

.--divider {
  border-bottom: solid 1px var(--color-border);
  margin: var(--spacing-sm) 0;
}

.--divider-y {
  border-right: solid 1px var(--color-border);
  margin: 0 var(--spacing-sm);
  height: 100%;
}

.--group {
  align-items: center;
  gap: var(--s-sm);
  display: flex;

  &--spread { justify-content: space-between; }
  &--end { justify-content: end; }
}

.--group-v {
  flex-direction: column;
  gap: var(--s-sm);
  display: flex;
}

.--truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
